*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    height: 5rem;
    display: flex;
    align-items: center;
}

.navigation_title{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.navigation_list{
    color: white;
    margin-left: auto;
    list-style: none;
    display: flex;
}
.navigation_link{
    margin-right: 1rem;
    text-transform: capitalize;
}
.navigation_link:hover{
    color: orange;
    cursor: pointer;
}

.background{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/015/588/553/small/picture-with-coffee-and-sugar-photo.jpg");
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    /* align-items: center; */
    text-transform: capitalize;
}

.container{
    margin-top: 5rem;
    margin-left: 5rem;
    
}

.title{
color: black;
font-size: 4rem;
}

.container_paragraph{
    font-size: 1.3rem;
    width: 24rem;
    margin-top: 1rem;
}

.container_button{
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(41, 39, 39);
    color: white;
    cursor: pointer;
    text-transform: capitalize;
}

.container_button:hover{
    background-color: rgb(221, 191, 136);
    color: black;
}

.container2{
display: flex;
}

.head{
    color: orangered;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-left: 5rem;
}

.head2{
   width: 25rem;
    margin-left: 5rem;
    font-size: 16px;
    padding-top: 10px;
}

.head3{
    width: 25rem;
    margin-left: 5rem;
    font-size: 16px;
    padding-top: 10px;
}

.container2_button{
   margin-top: 2rem;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(41, 39, 39);
    color: white;
    cursor: pointer;
    text-transform: capitalize; 
    margin-left: 5rem;
}

.container2_button:hover{
    background-color: rgb(221, 191, 136);
    color: black;
}

img{
    margin-left: 5rem;
    height: 30rem;
    width: 50rem;
}

h1{
    color: orangered;
    margin-top: 3rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

p{
   margin-top: 3rem;
   margin-left: 5rem;
margin-right: 5rem;
font-size: 1.5rem;
}

p2{
    margin-top: 3rem;
   margin-left: 20rem;
margin-right: 5rem;
font-size: 1.5rem;
}

img.image{
    width: 25rem;
    height: 25rem;
    margin-top: 3rem;
}

.container3_button{
    margin-top: 3rem;
    margin-left: 43rem;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(41, 39, 39);
    color: white;
    cursor: pointer;
    text-transform: capitalize;  
}

.container3_button:hover{
    background-color: rgb(221, 191, 136);
    color: black;
}

.background2{
    background-image: url(https://media.istockphoto.com/id/1230418546/photo/young-beautiful-happy-woman-enjoying-cappuccino-in-a-cafe.jpg?s=612x612&w=0&k=20&c=IbOUWIBhW1Hfaky0H4Z90jt3at1yxFgeqsla-RZte5I=);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    margin-top: 3rem;  
}

.container3{
    display: flex;
    flex-direction: column;
}

.para{
    color: white;
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 41rem;
}

.paragraph{
    color: white;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 23rem;
}

.box1{
    display: flex;

}

.box2{
    color: white;
    margin-top: 2rem;
    width: 20rem;
    height: 20rem;
    background-color: #f76d37;
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
}

.box2:hover{
    background-color: brown;

}

.box_text{
    color: white;
    font-size: 20px;
}

h2{
    color: orangered;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 7rem;
    margin-top: 7rem;
}

h3{
    font-size: 1.5rem;
    margin-left: 7rem;
    margin-top: 2rem;
}

h4{
    font-size: 2rem;
    color: orangered;
    margin-top: 5rem;
    margin-left: 20rem;
    font-weight: bold;
}

h5{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.container4{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h6{
    font-size: 4rem;
    color: orangered;
    margin-top: 5rem;
    margin-left: 38rem;
}
.cont{
    width: 100%;
    display: flex;
    margin-top: 7rem;
}

.box3{
    display: flex;
    flex-direction: column;
   width: 100%;
}

.background3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBr6Rl-85Q2GF5Rekm1QPFtucfRx8o0KMxeg&usqp=CAU);
    height: 100vh;
    width: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 3rem
}


.form{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3rem;
}

.name{
    color: black;
    width: 100%;
    height: 55px;
    font-size: 20px;
    padding: 20px 40px;
    border: 0;
    border-radius: 30px;
    
}

.message{
    color: black;
    width: 100%;
    height: 150px;
    font-size: 20px;
    padding: 40px;
    border: 0;
    border-radius: 50px;
}

.form_button{
    background-color: orangered;
    color: white;
    margin-top: 4rem;
    margin-left: 35%;
    font-size: 20px;
    padding: 20px 80px;
    border: 0;
    border-radius: 30px;
}

.form_button:hover{
    background-color: white;
    color: black;
}
