*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    height: 5rem;
    display: flex;
    align-items: center;
}

.navigation_title{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.navigation_list{
    color: white;
    margin-left: auto;
    list-style: none;
    display: flex;
}
.navigation_link{
    margin-right: 1rem;
    text-transform: capitalize;
}
.navigation_link:hover{
    color: orange;
    cursor: pointer;
}

.background{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/015/588/553/small/picture-with-coffee-and-sugar-photo.jpg");
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    /* align-items: center; */
    text-transform: capitalize;
}

.container{
    margin-top: 5rem;
    margin-left: 5rem;
    
}

.title{
color: black;
font-size: 4rem;
}

.container_paragraph{
    font-size: 1.3rem;
    width: 24rem;
    margin-top: 1rem;
}

.container_button{
    margin-top: 1rem;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(41, 39, 39);
    color: white;
    cursor: pointer;
    text-transform: capitalize;
}

.container_button:hover{
    background-color: rgb(221, 191, 136);
    color: black;
}

.container2{
display: flex;
}

.head{
    color: orangered;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-left: 5rem;
}

.head2{
   width: 25rem;
    margin-left: 5rem;
    font-size: 16px;
    padding-top: 10px;
}

.head3{
    width: 25rem;
    margin-left: 5rem;
    font-size: 16px;
    padding-top: 10px;
}

.container2_button{
   margin-top: 2rem;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(41, 39, 39);
    color: white;
    cursor: pointer;
    text-transform: capitalize; 
    margin-left: 5rem;
}

.container2_button:hover{
    background-color: rgb(221, 191, 136);
    color: black;
}

img{
    margin-left: 5rem;
    height: 30rem;
    width: 50rem;
}

h1{
    color: orangered;
    margin-top: 3rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

p{
   margin-top: 3rem;
   margin-left: 5rem;
margin-right: 5rem;
font-size: 1.5rem;
}
